.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.sign-up-card {
  width: 300px;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-bottom: 8px;
}

.actions-container {
  display: flex;
  flex-direction: column
}
